- 
  var menuList = [
    {type: 'item', name: 'Популярные бренды', icon: 'icon-star', tabName: 'tabFB', link: '#'},
    {type: 'split'},
    {type: 'item', name: 'Смартфоны и гаджеты', icon: 'icon-smartphone', tabName: 'tabSmartphone', link: '#'},
    {type: 'item', name: 'Телевизоры', icon: 'icon-tv', tabName: 'tabTv', link: '#'},
    {type: 'item', name: 'Аудио-видео', icon: 'icon-audio-video', tabName: 'tabAV', link: '#'},
    {type: 'item', name: 'Компьютерная техника', icon: 'icon-pc', tabName: 'tabPc', link: '#'},
    {type: 'item', name: 'Холодильники', icon: 'icon-holod', tabName: 'tabHolod', link: '#'},
    {type: 'item', name: 'Стиральные машины', icon: 'icon-washing', tabName: 'tabWashing', link: '#'},
    {type: 'item', name: 'Встраиваемая техника', icon: 'icon-inside-tech', tabName: 'tabInsideTech', link: '#'},
    {type: 'item', name: 'Посудомоечные машины', icon: 'icon-dishwasher', tabName: 'tabDishwasher', link: '#'},
    {type: 'item', name: 'Плиты', icon: 'icon-kitchen-stove', tabName: 'tabKitchenStove', link: '#'},
    {type: 'item', name: 'Техника для кухни', icon: 'icon-kitchen-tech', tabName: 'tabKitchenTech', link: '#'},
    {type: 'item', name: 'Техника для дома', icon: 'icon-house-tech', tabName: 'tabHouseTech', link: '#'},
    {type: 'item', name: 'Красота и здоровье', icon: 'icon-beauty', tabName: 'tabBeauty', link: '#'},
    {type: 'item', name: 'Климатическая техника', icon: 'icon-climat', tabName: 'tabClimat', link: '#'},
    {type: 'item', name: 'Строительство и ремонт', icon: 'icon-stroyka', tabName: 'tabStroyka', link: '#'},
    {type: 'item', name: 'Товары для дома и сада', icon: 'icon-goods4home', tabName: 'tabGoods4home', link: '#'},
    {type: 'item', name: 'Спорт и отдых', icon: 'icon-sports', tabName: 'tabSports', link: '#'},
    {type: 'item', name: 'Детские товары', icon: 'icon-goods4kids', tabName: 'tabGoods4kids', link: '#'},
    {type: 'item', name: 'Умный дом', icon: 'icon-smart-home', tabName: 'tabSmartHome', link: '#'}
  ]
  var brandList = [
    {type: 'svg', title: 'Samsung', iconClass: 'icon-brands-samsung', iconSrc: '#icon-brands-samsung', descr: 'Samsung — итальянский бренд крупной бытовой техники, который принадлежит', link: '#', linkText: 'Каталог «Samsung»'},
    {type: 'svg', title: 'Samsung', iconClass: 'icon-brands-samsung', iconSrc: '#icon-brands-samsung', descr: 'Samsung — итальянский бренд крупной бытовой техники, который принадлежит', link: '#', linkText: 'Каталог «Samsung digital»'},
    {type: 'svg', title: 'Haier', iconClass: 'icon-brands-haier', iconSrc: '#icon-brands-haier', descr: 'Haier — итальянский бренд крупной бытовой техники, который принадлежит', link: '#', linkText: 'Каталог «Haier»'},
    {type: 'img', title: 'Lg', iconClass: '', iconSrc: '/assets/lg.png', descr: 'Lg — итальянский бренд крупной бытовой техники, который принадлежит', link: '#', linkText: 'Каталог «Lg»'},
    {type: 'svg', title: 'Hotpoint', iconClass: 'icon-brands-hotpoint', iconSrc: '#icon-brands-hotpoint', descr: 'Hotpoint — итальянский бренд крупной бытовой техники, который принадлежит', link: '#', linkText: 'Каталог «Hotpoint»'},
    {type: 'svg', title: 'Indesit', iconClass: 'icon-brands-indesit', iconSrc: '#icon-brands-indesit', descr: 'Indesit — итальянский бренд крупной бытовой техники, который принадлежит', link: '#', linkText: 'Каталог «Indesit»'},
    {type: 'svg', title: 'Electrolux', iconClass: 'icon-brands-electrolux', iconSrc: '#icon-brands-electrolux', descr: 'Electrolux — итальянский бренд крупной бытовой техники, который принадлежит', link: '#', linkText: 'Каталог «Electrolux»'},
    {type: 'svg', title: 'Boch', iconClass: 'icon-brands-bosh', iconSrc: '#icon-brands-bosh', descr: 'Boch — итальянский бренд крупной бытовой техники, который принадлежит', link: '#', linkText: 'Каталог «Boch»'},
    {type: 'svg', title: 'Zugel', iconClass: 'icon-brands-zugel', iconSrc: '#icon-brands-zugel', descr: 'Zugel — итальянский бренд крупной бытовой техники, который принадлежит', link: '#', linkText: 'Каталог «Zugel»'},
  ]
  var alfaVit = [
    {litera: 'A', arr: ['Apple', 'Arnika', 'ATLANT']},
    {litera: 'B', arr: ['Boch']},
    {litera: 'C', arr: ['Candy', 'CASO', 'Centek']},
    {litera: 'D', arr: ['De’Longhi']},
    {litera: 'E', arr: ['Electrolux']},
    {litera: 'H', arr: ['Haier', 'Hansa', 'Honor', 'Hotpoint-Ariston', 'Hyundai']},
    {litera: 'I', arr: ['Indesit']},
    {litera: 'J', arr: ['Jacky`s']},
    {litera: 'K', arr: ['Karcher', 'KitchenAid', 'Kitfort', 'Korting', 'Kuppersberg']},
    {litera: 'L', arr: ['LG', 'Liebherr']},
    {litera: 'M', arr: ['Midea', 'Miele']},
    {litera: 'P', arr: ['Philips']},
    {litera: 'R', arr: ['Redmond', 'Rondell', 'Rowenta']},
    {litera: 'S', arr: ['Samsung', 'Samsung digital', 'Schaub Lorenz']},
    {litera: 'T', arr: ['Tefal']},
    {litera: 'X', arr: ['Xiaomi']},
    {litera: 'Z', arr: ['Zigmund & Shtain', 'ZUGEL']},
  ]
  var menuTabs = [
    {category: 'Холодильники', tabName: 'tabHolod', items: [{title: 'Однокамерные холодильники', arr: []},{title: 'Встраиваемые однокамерные холодильники', arr: []},{title: 'Двухкамерные холодильники', arr: []},{title: 'Встраиваемые двухкамерные холодильники', arr: []},{title: 'Холодильники Side by Side', arr: []},{title: 'Встраиваемые холодильники Side by Side', arr: []},{title: 'Многокамерные холодильники', arr: []},{title: 'Морозильники (морозильные камеры)', arr: []},{title: 'Встраиваемые морозильники', arr: []},{title: 'Минихолодильники', arr: []},{title: 'Автомобильные холодильники', arr: []},{title: 'Сумки-холодильники', arr: []},{title: 'Льдогенераторы', arr: []},{title: 'Морозильные лари', arr: []},{title: 'Холодильные витрины', arr: []},{title: 'Винные шкафы', arr: []},{title: 'Встраиваемые винные шкафы', arr: []},{title: 'Шкафы для вызревания мяса', arr: []},{title: 'Холодильники для косметики', arr: []},{title: 'Аксессуары и сопутствующие товары для холодильников', arr: []}]},
    {category: 'Смартфоны и гаджеты', tabName: 'tabSmartphone', items: [{title: 'Apple', arr: []},{title: 'Honor', arr: []},{title: 'Samsung', arr: []},{title: 'Смартфоны', arr: []},{title: 'Планшеты', arr: []},{title: 'Умные часы (smart) и браслеты', arr: []},{title: 'Мобильные телефоны', arr: []},{title: 'MP3-плееры', arr: []},{title: 'Рули, джойстики, геймпады', arr: []},{title: 'SIM-карты', arr: []},{title: 'Электронные книги', arr: []},{title: 'Сопутствующее оборудование и аксессуары', arr: ['Smart-устройства','Зарядные устройства','Защитные пленки и стекла','Кабели и переходники','Карты памяти','Подставки и держатели для мобильных устройств','Разветвители USB','Ремешки для умных часов и фитнес-трекеров','Чехлы для мобильных телефонов','Чехлы для планшетов']},{title: 'Игры и развлечения', arr: ['Видеоигры','Квадрокоптеры','Игровые приставки','Аксессуары для игровых приставок']},{title: 'Автомобильная цифровая техника', arr: ['Автомобильные видеорегистраторы']}]},
    {category: 'Телевизоры', tabName: 'tabTv', items: [{title: 'Телевизоры', arr: []},{title: 'Samsung', arr: []},{title: 'Комплекты спутникового телевидения', arr: []},{title: 'Цифровые телевизионные ресиверы', arr: []},{title: 'Сопутствующее оборудование и аксессуары', arr: ['Подставки, полки, настенные крепления','Приставки Smart TV','ТВ антенны','Универсальные пульты']}]},
    {category: 'Аудио-видео', tabName: 'tabAV', items: [{title: 'HI-FI техника', arr: ['HI-FI аудио','HI-FI компоненты']},{title: 'Аудиотехника', arr: ['Домашние кинотеатры','Магнитолы','Музыкальные центры','Радиоприемники и радиочасы']},{title: 'Музыкальное оборудование и инструменты', arr: ['Микшерные пульты']},{title: 'Проекторы', arr: []},{title: 'Аксессуары для видео и аудио техники', arr: ['Wi-Fi адаптеры','Аксессуары для музыкальных инструментов','Кабели','Кронштейны для аудио-видео компонентов','Микрофоны','Наушники','Портативные колонки','Стабилизаторы напряжения, сетевые фильтры, ИБП, розетки','Чистящие средства','Музыка, литература, искусство']}]},  
    {category: 'Компьютерная техника', tabName: 'tabPc', items: [{title: 'Компьютеры', arr: []},{title: 'Ноутбуки', arr: []},{title: 'Графические планшеты', arr: []},{title: 'ЖК мониторы', arr: []},{title: 'Моноблоки', arr: []},{title: 'Принтеры и МФУ', arr: ['МФУ','Принтеры','Расходные материалы']},{title: 'Сетевое и коммуникационное оборудование', arr: []},{title: 'Фото и видеосъемка', arr: ['Цифровые видеокамеры']},{title: 'Цифровые диктофоны', arr: []},{title: 'Подписка на сервисы', arr: ['Онлайн-кинотеатры']},{title: 'Программное обеспечение', arr: ['Антивирусы и безопасность','Операционные системы','Офисные программы']},{title: 'Игры для ПК и приставок', arr: ['Игры для ПК']},{title: 'Прочая компьютерная техника и аксессуары', arr: ['Web-камеры для компьютеров','Адаптеры и кабели','Батарейки, аккумуляторы и зарядные устройства для них','Внешние аккумуляторы','Внешние жесткие диски (HDD)','Картридеры и комбо','Коврики для мышек','Компьютерные гарнитуры','Компьютерные колонки','Компьютерные мыши и клавиатуры','Крепления и подставки для мониторов, компьютеров и проекторов','Подставки для ноутбуков','Средства для ухода за техникой','Сумки для ноутбуков','Сумки для фото и видеокамер','Флеш-накопители','Штативы и пульты']}]},
    {category: 'Стиральные машины', tabName: 'tabWashing', items: [{title: 'Стиральные машины', arr: []},{title: 'Встраиваемые стиральные машины', arr: []},{title: 'Активаторные стиральные машины', arr: []},{title: 'Стиральные машины с сушкой', arr: []},{title: 'Сушильные автоматы', arr: []},{title: 'Аксессуары для стирки', arr: ['Аксессуары для стиральных машин','Аксессуары для сушильных автоматов']}]},
    {category: 'Встраиваемая техника', tabName: 'tabInsideTech', items: [{title: 'Встраиваемые холодильники и морозильники', arr: ['Встраиваемые однокамерные холодильники','Встраиваемые двухкамерные холодильники','Встраиваемые холодильники Side by Side','Встраиваемые морозильники','Встраиваемые винные шкафы']},{title: 'Встраиваемая техника для приготовления пищи и напитков', arr: ['Встраиваемые электрические варочные панели','Встраиваемые газовые варочные панели','Встраиваемые комбинированные варочные панели','Встраиваемые газовые духовые шкафы','Встраиваемые электрические духовые шкафы','Встраиваемое кофейное оборудование','Встраиваемые микроволновые печи СВЧ']},{title: 'Встраиваемые посудомоечные машины', arr: []},{title: 'Встраиваемые стиральные машины', arr: []},{title: 'Встраиваемые шкафы для подогревания посуды', arr: []},{title: 'Комплекты встраиваемой бытовой техники', arr: []},{title: 'Прочая встраиваемая техника', arr: []}]},
    {category: 'Посудомоечные машины', tabName: 'tabDishwasher', items: [{title: 'Посудомоечные машины', arr: []},{title: 'Встраиваемые посудомоечные машины', arr: []},{title: 'Компактные посудомоечные машины', arr: []},{title: 'Аксессуары для посудомоечных машин', arr: []}]},
    {category: 'Плиты', tabName: 'tabKitchenStove', items: [{title: 'Газовые плиты', arr: []},{title: 'Электрические плиты (электроплиты)', arr: []},{title: 'Комбинированные плиты', arr: []},{title: 'Настольные плиты', arr: []},{title: 'Аксессуары для плит', arr: []},{title: 'Встраиваемые газовые варочные панели', arr: []},{title: 'Встраиваемые электрические варочные панели', arr: []},{title: 'Встраиваемые комбинированные варочные панели', arr: []},{title: 'Встраиваемые газовые духовые шкафы', arr: []},{title: 'Встраиваемые электрические духовые шкафы', arr: []},{title: 'Встраиваемые микроволновые печи СВЧ', arr: []},{title: 'Встраиваемые шкафы для подогревания посуды', arr: []},{title: 'Вытяжки', arr: []}]},
    {category: 'Техника для кухни', tabName: 'tabKitchenTech', items: [{title: 'Вытяжки', arr: []},{title: 'Измельчители пищевых отходов', arr: []},{title: 'Подготовка и обработка продуктов', arr: ['Блендеры погружные','Блендеры стационарные','Вакуумные упаковщики','Кухонные весы','Кухонные комбайны','Кухонные машины','Ломтерезки','Маринаторы','Миксеры','Мини-мельнички','Мясорубки','Приборы для измельчения продуктов','Сушилки для овощей']},{title: 'Приготовление пищи', arr: ['Аэрогрили','Блинницы','Бутербродницы и вафельницы','Грили и шашлычницы','Йогуртницы','Медленноварки','Микроволновые печи - СВЧ','Мороженицы','Мультиварки','Пароварки','Су вид','Тостеры','Фритюрницы','Хлебопечки','Электропечи','Электрофондю','Яйцеварки']},{title: 'Кофейное оборудование', arr: ['Кофеварки','Кофемашины автоматические','Кофемашины капсульные','Кофемолки','Кофе и чай']},{title: 'Кухонная посуда и принадлежности', arr: ['Воки (wok)','Емкости для хранения продуктов','Кастрюли','Ковши','Крышки','Кухонные принадлежности','Наборы посуды','Наборы посуды для СВЧ-печей','Наборы посуды со съемной ручкой','Ножи кухонные','Полки, подставки, сушилки','Предметы для сервировки стола','Приспособления для выпечки','Приспособления для нарезки, очистки и измельчения','Сервизы','Сковороды','Сотейники','Столовая посуда','Термосы, термоконтейнеры и термокружки','Формы для выпечки','Френч-прессы и турки','Чайники']},{title: 'Обработка и очистка воды', arr: ['Кулеры для воды','Системы фильтрации воды','Сменные модули для систем фильтрации воды']},{title: 'Соковыжималки', arr: ['Соковыжималки универсальные','Соковыжималки для цитрусовых']},{title: 'Чайники и чайные наборы', arr: ['Чайники электрические','Чайные наборы']},{title: 'Термопоты', arr: []},{title: 'Электросковороды', arr: []},{title: 'Прочие товары для кухни', arr: []},{title: 'Аксессуары для кухни', arr: ['Аксессуары для вытяжек','Аксессуары для кофейного оборудования','Аксессуары для кухонной посуды и принадлежностей','Аксессуары для обработки и очистки воды','Аксессуары для техники для подготовки и обработки продуктов','Аксессуары для техники для приготовления пищи','Аксессуары для чайников и чайных наборов','Аксессуары и сопутствующие товары для прочей кухонной техники','Сопутствующие товары для кухни']}]},
    {category: 'Техника для дома', tabName: 'tabHouseTech', items: [{title: 'Техника для уборки', arr: ['Инвентарь для уборки','Пароочистители','Пылесосы','Пылесосы беспроводные','Пылесосы моющие','Роботы-пылесосы','Стеклоочистители']},{title: 'Техника для ухода за одеждой', arr: ['Гладильные доски','Гладильные прессы','Парогенераторы','Отпариватели для одежды','Сушилки для белья','Сушилки для обуви','Утюги']},{title: 'Швейная техника', arr: ['Оверлоки, коверлоки и распошивальные машины','Швейные машины']},{title: 'Прочие товары для дома', arr: []},{title: 'Системы безопасноcти и видеонаблюдения', arr: ['Аудиотрубки','Блоки питания и аккумуляторы','Видеодомофоны','Видеонаблюдение','Вызывные панели для видеодомофонов','Доводчики','Замки электромеханические','Монтажные комплекты и материалы','Провода и разъемы для подключения систем безопасности']},{title: 'Умный дом', arr: ['Блоки управления','Датчики','Камеры','Комплекты умный дом','Лампы, светодиодные ленты','Розетки и выключатели','Удлинители, сетевые фильтры','Прочие товары для умного дома']},{title: 'Аксессуары для дома', arr: ['Аксессуары для техники для уборки','Аксессуары для техники по уходу за одеждой','Аксессуары для швейной техники','Бытовая химия и салфетки для уборки']}]},
    {category: 'Красота и здоровье', tabName: 'tabBeauty', items: [{title: 'Бритье и стрижка', arr: ['OneBlade','Машинки для стрижки волос','Триммеры для лица и тела','Электробритвы','Аксессуары для бритв']},{title: 'Товары для здоровья', arr: ['Весы напольные','Индивидуальные воздухоочистители','Массажеры и массажные столы','Медицинские приборы','Электрические зубные щетки и ирригаторы','Электротекстиль']},{title: 'Укладка волос', arr: ['Выпрямители для волос','Мультистайлеры','Фены','Фен-щетки','Щипцы для укладки волос','Электробигуди','Прочие приборы для укладки волос']},{title: 'Уход за лицом и телом', arr: ['Зеркала косметические','Гидромассажные ванночки для ног','Маникюрные/педикюрные наборы','Приборы для ухода за лицом','Эпиляторы и электробритвы для женщин','Прочие товары для ухода за лицом и телом']},{title: 'Аксессуары к приборам для красоты и здоровья', arr: []}]},
    {category: 'Климатическая техника', tabName: 'tabClimat', items: [{title: 'Ароматизаторы воздуха', arr: []},{title: 'Бытовая приточная вентиляция', arr: []},{title: 'Вентиляторы', arr: []},{title: 'Вентиляторы вытяжные', arr: []},{title: 'Водонагреватели', arr: ['Бойлеры косвенного нагрева','Водонагреватели накопительные','Водонагреватели проточные','Газовые водонагреватели']},{title: 'Водяные радиаторы отопления', arr: []},{title: 'Воздухоочистители', arr: []},{title: 'Камины', arr: []},{title: 'Кондиционеры', arr: ['Мобильные кондиционеры','Сплит-системы']},{title: 'Котлы отопления', arr: []},{title: 'Метеостанции и термометры', arr: []},{title: 'Мойки воздуха', arr: []},{title: 'Обогреватели', arr: ['Водяные тепловентиляторы','Газовые обогреватели','Инфракрасные обогреватели','Конвекторы','Масляные обогреватели','Тепловентиляторы','Тепловые пушки и завесы']},{title: 'Осушители воздуха', arr: []},{title: 'Сушилки для рук', arr: []},{title: 'Увлажнители воздуха', arr: []},{title: 'Электрические теплые полы и принадлежности', arr: ['Теплые полы','Терморегуляторы']},{title: 'Аксессуары для климатической техники', arr: []}]},
    {category: 'Строительство и ремонт', tabName: 'tabStroyka', items: [{title: 'Компрессоры и пневматические инструменты', arr: ['Гайковерты пневматические','Компрессоры','Краскопульты пневматические','Машины шлифовальные пневматические','Молотки пневматические','Пистолеты пневматические','Наборы пневмоинструментов','Оснастка для пневмоинструмента']},{title: 'Электроинструменты', arr: ['Аккумуляторные отвертки','Бетоносмесители','Виброплиты','Дрели и шуруповерты','Клеевые пистолеты','Лобзики','Отбойные молотки','Паяльное оборудование','Перфораторы','Пилы','Распылители краски','Рубанки','Сварочные аппараты','Станки','Степлеры','Строительные миксеры','Строительные пылесосы','Точила электрические','Фены технические','Фрезеры','Штроборезы','Шлифовальные машины','Электрические генераторы и электростанции','Расходные материалы для электроинструментов','Аксессуары для пайки']},{title: 'Ручные инструменты и приспособления', arr: ['Измерительные инструменты','Ключи и отвертки','Лестницы и стремянки','Отделочный инструмент','Режущий и пильный инструмент','Слесарный инструмент','Столярный инструмент','Наборы ручных инструментов','Хранение инструмента','Расходные материалы и оснастка для инструментов']},{title: 'Аксессуары для электроинструментов', arr: []}]},
    {category: 'Товары для дома и сада', tabName: 'tabGoods4home', items: [{title: 'Галантерея', arr: ['Сумки, портфели и чемоданы']},{title: 'Осветительные приборы', arr: ['Гирлянды и светодиодные композиции','Лампы','Люстры подвесные','Люстры потолочные','Светильники напольные','Светильники настенные','Светильники настольные','Светильники точечные','Светильники уличные','Трек-системы','Аксессуары и прочие товары для осветительных приборов']},{title: 'Электрика', arr: ['Стабилизаторы напряжения']},{title: 'Предметы интерьера', arr: []},{title: 'Офис, студенчество, школа', arr: ['Доски и мольберты','Канцтовары','Кресла','Мебель','Ранцы, рюкзаки, сумки','Уничтожители бумаги (шредеры)','Прочие товары для офиса, студенчества, школы','Расходные материалы']},{title: 'Сантехника', arr: ['Ванны и принадлежности','Души и душевые кабины','Полотенцесушители','Мебель для ванной комнаты','Мойки и смесители','Санфаянс и аксессуары','Материалы для инсталляции и запчасти','Аксессуары для ванной комнаты и туалета']},{title: 'Садовая техника', arr: ['Аэраторы и скарификаторы','Бензопилы и бензорезы','Газонокосилки','Измельчители садовые','Культиваторы и мотоблоки','Кусторезы, сучкорезы, мультирезаки','Минимойки','Мотобуры (бензобуры)','Насосы','Подметальные машины','Садовые пылесосы и воздуходувки','Снегоуборочные машины']},{title: 'Садовые инструменты и принадлежности', arr: ['Ведра','Вилы и грабли','Инструменты для обработки почвы','Лопаты','Перчатки рабочие','Пилы и ножи','Приспособления для уборки','Секаторы и сучкорезы','Снегоуборочный инвентарь','Тачки садовые','Топоры и дровоколы','Прочие садовые принадлежности']},{title: 'Инвентарь для полива', arr: ['Адаптеры, соединители и штуцеры','Опрыскиватели и распылители','Пистолеты и разбрызгиватели','Садовые лейки','Шланги садовые','Прочие принадлежности для полива']},{title: 'Украшение сада и уход за растениями', arr: ['Арки, подставки и опоры','Грунт и удобрения','Емкости для растений','Садовые бордюры и ограждения','Садовые лампы, светильники и фонари','Садовые фигурки и декор','Уход и защита растений']},{title: 'Товары для дачи и отдыха на природе', arr: ['Бассейны и товары для отдыха на воде','Биотуалеты и септики','Газовые баллоны и аксессуары','Качели садовые','Мангалы, казаны и тандыры','Мебель для дачи','Приспособления для барбекю и шашлыка','Приспособления для умывания','Хозяйственные постройки','Прочие товары для отдыха на природе']},{title: 'Аксессуары для дачи', arr: ['Прочие товары для дома и сада','Аксессуары для минимоек','Аксессуары для садовой техники и инструментов']},{title: 'Автомобильные товары', arr: ['Автокомпрессоры','Домкраты','Зарядные устройства для автомобилей','Прочие автомобильные товары']},{title: 'Мебель для дома', arr: ['Кресла','Мебель','Прочая мебель']}]},
    {category: 'Спорт и отдых', tabName: 'tabSports', items: [{title: 'SUP-доски', arr: []},{title: 'Батуты', arr: []},{title: 'Велосипеды и велогибриды', arr: []},{title: 'Гироскутеры и моноколеса', arr: []},{title: 'Самокаты и скейтборды', arr: []},{title: 'Спортивные игры', arr: []},{title: 'Товары для рыбалки', arr: ['Надувные лодки','Аксессуары для рыбалки']},{title: 'Товары для туризма', arr: ['Мебель для туризма','Палатки и тенты','Рюкзаки и термосумки','Прочие товары для туризма']},{title: 'Тренажеры и фитнес', arr: ['Кардиотренажеры','Силовые тренажеры','Инвентарь для фитнеса','Одежда для фитнеса']},{title: 'Оптические приборы и принадлежности', arr: ['Бинокли','Микроскопы','Телескопы','Прочие оптические приборы','Дополнительные принадлежности и аксессуары']}]},
    {category: 'Детские товары', tabName: 'tabGoods4kids', items: [{title: 'Гигиена и уход', arr: ['Косметика, средства и приборы для гигиены','Подгузники']},{title: 'Детская безопасность', arr: ['Видео и радионяни','Детские часы с GPS поиском']},{title: 'Детская комната', arr: ['Бамперы и бортики для кроваток','Детские кроватки','Детские матрасы','Комплекты постельного белья','Манежи','Одеяла и подушки','Пеленальные комоды и столы','Покрывала и пледы','Столы и стулья','Ходунки','Электрокачели и качели','Прочие товары для детской комнаты','Ранцы, рюкзаки, сумки']},{title: 'Детская одежда и обувь', arr: []},{title: 'Детский транспорт', arr: ['Беговелы','Детские велосипеды и педальные машины','Каталки и самокаты','Электромобили','Аксессуары для детского транспорта']},{title: 'Кормление', arr: ['Посуда для детей','Соски для бутылочек, соски-пустышки и зубопрорезыватели','Стульчики для кормления','Сопутствующие товары для кормления','Электроприборы для приготовления детского питания']},{title: 'Купание', arr: ['Ванны и аксессуары для ванн']},{title: 'Прогулки и путешествия', arr: ['Автокресла','Коляски и принадлежности','Аксессуары для прогулок и путешествий']},{title: 'Спорт и отдых', arr: ['Зимние игры и развлечения','Летние игрушки','Спортивные комплексы и площадки','Аксессуары для спорта и отдыха']},{title: 'Развитие и творчество', arr: ['3D моделирование и рисование','LEGO','Активные игры','Игрушки для новорожденных','Интеллектуальное развитие в игре','Интерактивные и развивающие игрушки','Конструкторы','Куклы','Мягкие игрушки','Настольные развивающие и обучающие игры','Радиоуправляемые игрушки','Развивающие игрушки','Роботы, трансформеры','Сюжетно-ролевые игры','Товары для творчества','Транспорт игрушечный']},{title: 'Товары для мам', arr: ['Детские электронные весы','Молокоотсосы','Стерилизаторы и подогреватели посуды']}]}
  ]
  var items = [
    {title: "Покупателям", tabName: "tabBuyers", num: 5, pos: 'pos-l'}, 
    {title: "Услуги", tabName: "tabServices", num: 7, pos: 'pos-l'}, 
    {title: "Бизнесу", tabName: "tabBusiness", num: 4, pos: 'pos-r'}]

div.header-catalog#menuCatalog
  .container.menu-pane 
    #menuList.menu-list
      #menuListScroll.menu-scroll
        .menu-list-pane
          div.menu-caterories-item.menu-mobile-visible.menu-mobile-item(data-tab="tabCatalog")
            a.menu-caterories-link(href="#")
              //- svg.icon(class=itm.icon) 
                use(href="/assets/icons.svg#" + itm.icon)
              span Каталог
          ul#menuCategories.menu-caterories.menu-mobile-pane(data-target="tabCatalog")
            each itm in menuList
              if itm.type!='split'
                li.menu-caterories-item.menu-mobile-item(data-tab=itm.tabName)
                  a.menu-caterories-link(href=itm.link)
                    svg.icon(class=itm.icon) 
                      use(href="/assets/icons.svg#" + itm.icon)
                    span= itm.name 
              else 
                li.menu-list-splitter

            li.menu-list-splitter
            li.menu-caterories-item.menu-mobile-item
              a.menu-caterories-link(href="#")
                svg.icon.icon-stock <use href="/assets/icons.svg#icon-stock"/>
                span Акции
            li.menu-caterories-item.menu-mobile-item
              a.menu-caterories-link(href="#")
                svg.icon.icon-sale <use href="/assets/icons.svg#icon-sale"/>
                span Распродажа
            li.menu-caterories-item.menu-mobile-item
              a.menu-caterories-link(href="#")
                svg.icon.icon-discounted <use href="/assets/icons.svg#icon-discounted"/>
                span Уцененные товары
          ul.menu-mobile-visible
            li.menu-caterories-item.menu-mobile-item
              a.menu-caterories-link(href="#")
                  svg.icon.icon-geo.icn-l <use href="/assets/icons.svg#icon-geo"></use>
                  span Москва и область
            li.menu-caterories-item.menu-mobile-item
              a.menu-caterories-link(href="#")
                  span Магазины
            each itm in items
              li.menu-caterories-item.menu-mobile-item(data-tab=itm.tabName)
                a.menu-caterories-link(href="#")
                  span= itm.title

            li.menu-caterories-item.menu-mobile-item
              a.menu-caterories-link(href="#")
                svg.icon.icon-geo.icn-l <use href="/assets/icons.svg#icon-phone"></use>
                span Заказать звонок
            li.menu-caterories-item.menu-mobile-item
              a.menu-caterories-link(href="tel:+74952320600") 
                  span +7 (495) 232-06-00
             
    .menu-tabs
      #menuTabsScroll.menu-scroll
        .menu-tabs-pane#menuTabs
          .menu-tabs-item.menu-mobile-pane(data-tab="tabFB" data-target="tabFB")
            .menu-tabs-item-title.menu-mobile-item Популярные бренды
            .menu-tabs-item-section.brands 
              each itm in brandList
                +menu-brand-card(itm)
            .menu-tabs-item-section.alfavit 
              each itm in alfaVit
                +menu-alfavit-item(itm)
          each tab in menuTabs      
            +menu-tabs-item(tab)

